//Pulse animation from: https://codepen.io/ekfuhrmann/pen/ZEKKKEe?editors=1100
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@mixin unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}


html, body {
  width: 100%;
  height: 100%;
}
* {
  cursor: wait;
  margin: 0px;
  padding: 0px;
}
*:active{
  cursor: no-drop
}
body {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);

  top: 0;
  margin: 3vh;
  padding: 0px;
  padding-right: 3vw;
//  height: 100vh;
  display: flex;
 // justify-content: center;
 // align-items: center;
  background-color: #c6e6fa; 
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}
@media all and (max-width: 600px) {
  body {
      margin: 0vh;
    // padding-right: 2vw;
      background-color: #5aaee3; 
  }
}



#outline {
  cursor: help;
}
#outline:active {
  cursor: zoom-in;
}

#fill {
  cursor: grab;
  animation-name: heartChange;
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  box-shadow: inset 11em 2em 33px #333652;
}
@keyframes heartChange {
  0% {fill: white;}
  20% {fill: white;}
  31% {fill: red;}
  100% {//k: black;
  } 
}



#text {
  @include unselectable(); /*to make the text unselectable*/
  cursor: help; /* avoid cursor change to caret */
  /* more types of cursor cursor: not-allowed; cursor: zoom-in; cursor: grab; cursor: crosshair; cursor: wait; cursor: help; cursor: default; cursor: pointer; */
}
#text:hover {
  transition-duration: 0.3s ease;
  opacity: 1;
  cursor: none;
}
#text:active {
  cursor: help;
}


/******** When click the FILL the "hand" grab **********/
#fill:active{
  fill: rgb(254, 0, 0);
  cursor: grabbing;
}
/******* Whn hover FILL  change text color to red ****************/
#fill:hover #text{
  fill: red;
}




/********** POP OUT FX (at the beginning) ************* 
https://stackoverflow.com/questions/14542429/how-do-i-animate-this-box-to-have-a-pop-out-effect 
*****************************************************/
.popout {
  animation: popout 0.69s ease;
  -webkit-animation: popout 0.69s ease;
}
@keyframes popout {
  from{transform:scale(0.1)}
  66%{transform:scale(1.1)}
  to{transform:scale(1)}
}
@-webkit-keyframes popout {
  from{-webkit-transform:scale(0.1)}
  66%{-webkit-transform:scale(1.1)}
  to{-webkit-transform:scale(1)}
}




/********** SVG PULSE ANIMATION ******/
circle {
  stroke: black; 
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}