@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  cursor: not-allowed;
}

body {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin: 50px;
  padding: 0;
  height: 100vh;
  display: flex;
  background-color: #c6e6fa;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

#fill {
  cursor: grab;
  animation-name: heartChange;
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
}

#outline {
  cursor: help;
}

@keyframes heartChange {
  0% {
    fill: white;
  }
  20% {
    fill: white;
  }
  31% {
    fill: red;
  }
  100% {
  }
}

#text {
  user-select: none;
  /*to make the text unselectable*/
  cursor: help;
  /* avoid cursor change to caret */
  /* more types of cursor cursor: not-allowed; cursor: zoom-in; cursor: grab; cursor: crosshair; cursor: wait; cursor: help; cursor: default; cursor: pointer; */
}

#text:hover {
  transition-duration: 0.3s ease;
  opacity: 1;
}

/* opacity 0 to 100 for the text at hte beginning */
.emerge {
  animation: emerge 1s ease;
  -webkit-animation: emerge 1s ease;
}

@keyframes emerge {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(1);
  }
}

/* pop out effect at the beginning https://stackoverflow.com/questions/14542429/how-do-i-animate-this-box-to-have-a-pop-out-effect */
.popout {
  animation: popout 0.69s ease;
  -webkit-animation: popout 0.69s ease;
}

@keyframes popout {
  from {
    transform: scale(0.1);
  }
  66% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
