@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
html {
  width: 100%;
  height: 100%;
}

* {
  cursor: wait;
  margin: 0px;
  padding: 0px;
}

*:active {
  cursor: no-drop;
}

body {
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  margin: 3vh;
  padding: 0px auto;
  height: 100%;
  display: flex;
  background-color: #b1e2fa;
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
}

@media all and (max-width: 600px) {
  body {
    margin: 0 auto;
    background-color: #b8d2da;
  }
}

#outline {
  cursor: help;
  text-shadow: 3px 3px 2px 10px rgba(0, 0, 0, 0.317);
  fill: red;
}

#outline:active {
  cursor: zoom-in;
}

#shadow:hover {
  filter: drop-shadow(14px 14px 1px #b71c1c);
}

#fill {
  cursor: grab;
  animation-name: heartChange;
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
}

@keyframes heartChange {
  0% {
    fill: rgba(255, 255, 255, 0);
  }
  20% {
    fill: rgba(255, 255, 255, 0);
  }
  31% {
    fill: #ff5c5c;
  }
  100% {
  }
}

#text {
  user-select: none;
  /*to make the text unselectable*/
  cursor: help;
  /* avoid cursor change to caret */
  /* more types of cursor -> cursor: not-allowed; cursor: zoom-in; cursor: grab; 
  cursor: crosshair; cursor: wait; cursor: help; cursor: default; cursor: pointer; */
}

#text:hover {
  transition-duration: 0.3s ease;
  opacity: 1;
  cursor: none;
  text-shadow: 0.3px 0.3px 2px rgba(0, 0, 0, 0.317);
}

#text:active {
  cursor: help;
}

/******** When click the FILL the "hand" grab **********/
#fill:active {
  fill: #fe0000;
  cursor: grabbing;
}

/******* Whn hover FILL  change text color to red ****************/
/********** POP OUT FX (at the beginning) ********* 
https://stackoverflow.com/questions/14542429/how-do-i-animate-this-box-to-have-a-pop-out-effect 
*****************************************************/
.popout {
  animation: popout 0.69s ease;
  -webkit-animation: popout 0.69s ease;
}

@keyframes popout {
  from {
    transform: scale(0.1);
  }
  66% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

/**         WORKING IN PROGRESS    **/
/********** SVG PULSE ANIMATION ********
*******************************************/
circle {
  stroke: black;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.pulse {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: 2s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 0;
    transform: scale(2);
  }
}
